<a href="https://colab.research.google.com/github/strawndri/python-ds-primeiros-passos/blob/main/Hora_da_pratica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da pratica" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Introdução ao Python

### Questão 1

Imprima a frase `Escola de Dados da Alura!`

In [ ]:
print('Escola de Dados da Alura')

Escola de Dados da Alura

### Questão 2
Imprima na tela seu nome e seu sobrenome seguindo a estrutura abaixo:
```
Nome: [seu nome]
Sobrenome: [seu sobrenome]
```

In [ ]:
print('Nome: Andrieli\nSobrenome: Gonçalves')

Nome: Andrieli
Sobrenome: Gonçalves

### Questão 3
Imprima o seu primeiro nome letra a letra. Por exemplo, nome é Mirla, então eu obtenho a seguinte saída:
```
M
I
R
L
A
```

In [ ]:
print('A')
print('N')
print('D')
print('R')
print('I')
print('E')
print('L')
print('I')

A
N
D
R
I
E
L
I

### Questão 4
Imprima o dia do seu nascimento em formato `dia mês ano`. Os valores de dia e ano não podem estar entre aspas. O formato deve estar como no exemplo, supondo uma data de aniversário dia 28 de fevereiro de 2003:
```
28 fevereiro 2003
```

In [ ]:
print(3, 'junho', 2005)

3 junho 2005

### Questão 5
Imprima em um único print o atual ano que você está fazendo esse curso, o valor do ano deve ser um dado numérico. A saída do print deve ser a seguinte:
```
Ano atual: [ano]
```

In [ ]:
print('Ano atual:', 2023)

Ano atual: 2023

## Aula 2 - Manipulando dados no Python

### Coleta e amostragem de dados

#### Questão 1
Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

In [ ]:
nome = input('> Digite seu nome: ')
print(f'Olá, {nome}.')

> Digite seu nome: Andrieli
Olá, Andrieli.

#### Questão 2
Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.

In [ ]:
nome = input('> Digite seu nome: ')
idade = int(input('> Digite sua idade: '))
print(f'Olá, {nome}, você tem {idade} anos.')

> Digite seu nome: Andrieli
> Digite sua idade: 18
Olá, Andrieli, você tem 18 anos.

#### Questão 3
Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [ ]:
nome = input('> Digite seu nome: ')
idade = int(input('> Digite sua idade: '))
altura = float(input('> Digite sua altura (em metros): '))
print(f'Olá, {nome}, você tem {idade} anos e mede {altura} metros!')

> Digite seu nome: Andrieli
> Digite sua idade: 18
> Digite sua altura (em metros): 1.56
Olá, Andrieli, você tem 18 anos e mede 1.56 metros!

### Calculadora com operadores

#### Questão 1

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
resultado = numero_1 + numero_2
print(f'A soma entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um número: 7
> Digite outro número: 3
A soma entre 7 e 3 é igual a 10.

#### Questão 2
Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
numero_3 = int(input('> Digite outro número: '))
resultado = numero_1 + numero_2 + numero_3
print(f'A soma entre {numero_1}, {numero_2} e {numero_3} é igual a {resultado}.')

> Digite um número: 3
> Digite outro número: 4
> Digite outro número: 3
A soma entre 3, 4 e 3 é igual a 10.

#### Questão 3
Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
resultado = numero_1 - numero_2
print(f'A subtração entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um número: 10
> Digite outro número: 3
A subtração entre 10 e 3 é igual a 7.

#### Questão 4

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
resultado = numero_1 * numero_2
print(f'O produto entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um número: 3
> Digite outro número: 4
O produto entre 3 e 4 é igual a 12.

#### Questão 5

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numero_1 = int(input('> Digite um numero: '))
numero_2 = int(input('> Digite outro número (ele deve ser diferente de 0): '))
resultado = numero_1 / numero_2
print(f'A razão entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um numero: 10
> Digite outro número (ele deve ser diferente de 0): 2
A razão entre 10 e 2 é igual a 5.0.

#### Questão 6

Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
resultado = numero_1 ** numero_2
print(f'{numero_1} elevado a {numero_2} é igual a {resultado}.')

> Digite um número: 2
> Digite outro número: 2
2 elevado a 2 é igual a 4.

#### Questão 7
Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número (diferente de 0): '))
resultado = numero_1 // numero_2
print(f'A razão inteira entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um número: 13
> Digite outro número (diferente de 0): 9
A razão inteira entre 13 e 9 é igual a 1.

#### Questão 8

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número (diferente de 0): '))
resultado = numero_1 % numero_2
print(f'O resto da divisão entre {numero_1} e {numero_2} é igual a {resultado}.')

> Digite um número: 3
> Digite outro número (diferente de 0): 2
O resto da divisão entre 3 e 2 é igual a 1.

#### Questão 9

Crie um código que solicita 3 notas de um estudante e imprima a média das notas.

In [ ]:
nota_1 = float(input('> Digita a primeira nota: '))
nota_2 = float(input('> Digita a segunda nota: '))
nota_3 = float(input('> Digita a terceira nota: '))
media = ((nota_1 + nota_2 + nota_3)/3)
print(f'A média aritmética entre as notas {nota_1}, {nota_2} e {nota_3} é igual a {media:.2f}.')

> Digita a primeira nota: 10
> Digita a segunda nota: 8
> Digita a terceira nota: 7
A média aritmética entre as notas 10.0, 8.0 e 7.0 é igual a 8.33.

#### Questão 10

Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
media_ponderada = ((5*1) + (12*2) + (20*3) + (14*4))/(1+2+3+4)
print(f'A média ponderada é: {media_ponderada}.')

A média ponderada é: 14.5.

### Editando textos

#### Questão 1

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.

In [ ]:
frase = 'Revisando Python com a Alura!'
print(frase)

Revisando Python com a Alura!

#### Questão 2
Crie um código que solicite uma frase e depois imprima a frase na tela.

In [ ]:
frase = input('> Digita uma frase: ')
print(frase)

> Digita uma frase: Consolidando aprendizagens sobre análise de dados!
Consolidando aprendizagens sobre análise de dados!

#### Questão 3

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

In [ ]:
frase = input('> Digita uma frase: ').upper()
print(frase)

> Digita uma frase: consolidando aprendizagens sobre análise de dados!
CONSOLIDANDO APRENDIZAGENS SOBRE ANÁLISE DE DADOS!

#### Questão 4

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

In [ ]:
frase = input('> Digita uma frase: ').lower()
print(frase)

> Digita uma frase: CONSOLIDANDO APRENDIZAGENS SOBRE ANÁLISE DE DADOS
consolidando aprendizagens sobre análise de dados

#### Questão 5

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [ ]:
frase = '  Andri Gonçalves  '.strip()
print(frase)

Andri Gonçalves

#### Questão 6

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

In [ ]:
frase = input('> Digite uma frase: ').strip()
print(frase)

> Digite uma frase:                               Consolidando aprendizagens sobre análise de dados.
Consolidando aprendizagens sobre análise de dados.

#### Questão 7


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

In [ ]:
frase = input('> Digite uma frase: ').strip().lower()
print(frase)

> Digite uma frase:      Consolidando aprendizagens sobre análise de dados
consolidando aprendizagens sobre análise de dados

#### Questão 8

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`e`” trocadas pela letra “`f`”.

In [ ]:
frase = input('> Digite uma frase: ').lower().replace('e', 'f')
frase

> Digite uma frase: Consolidando aprendizagens sobre análise de dados.

'consolidando aprfndizagfns sobrf análisf df dados.'

#### Questão 9


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`a`” trocadas pela caractere  “`@`”.

In [ ]:
frase = input('> Digite uma frase: ').lower().replace('a', '@')
frase

> Digite uma frase: consolidando aprendizagens sobre análise de dados

'consolid@ndo @prendiz@gens sobre @nálise de d@dos'

#### Questão 10


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “`s`” trocadas pelo caractere  “`$`”.

In [ ]:
frase = input('> Digite uma frase: ').lower().replace('s', '$')
frase

> Digite uma frase: consolidando aprendizagens sobre análise de dados.

'con$olidando aprendizagen$ $obre análi$e de dado$.'

## Aula 3 - Estruturas condicionais

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))

if numero_1 > numero_2:
  print(f'{numero_1} é maior que {numero_2}.')
else:
  print(f'{numero_2} é maior que {numero_1}.')

> Digite um número: 165
> Digite outro número: 23
165 é maior que 23.

#### Questão 2
Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
variacao = float(input('> Digite o percentual de crescimento da produção da sua empresa: '))

if variacao > 0:
  print('O crescimento foi positivo.')
elif variacao == 0:
  print('Não houve crescimento.')
else:
  print('O crescimento foi negativo.')

> Digite o percentual de crescimento da produção da sua empresa: 34
O crescimento foi positivo.

#### Questão 3
Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

In [ ]:
vogais = 'A, E, I, O, U'
consoantes = 'B, C, D, F, G, H, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z'

letra = input('> Digite uma letra: ').upper()

if letra in vogais:
  print(f'A letra "{letra}" é uma vogal.')
elif letra in consoantes:
  print(f'A letra "{letra}" é uma consoante.')
else:
  print(f'O caractere enviado não é uma letra.')

> Digite uma letra: A
A letra "A" é uma vogal.

#### Questão 4
Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

In [ ]:
valor_medio_carro_2021 = float(input('> Digite o valor médio de um Fusca em 2021: '))
valor_medio_carro_2022 = float(input('> Digite o valor médio de um Fusca em 2022: '))
valor_medio_carro_2023 = float(input('> Digite o valor médio de um Fusca em 2023: '))

maior = valor_medio_carro_2021

if valor_medio_carro_2022 > maior:
  maior = valor_medio_carro_2022

if valor_medio_carro_2023 > maior:
  maior = valor_medio_carro_2023

menor = valor_medio_carro_2021

if valor_medio_carro_2022 < menor:
  menor = valor_medio_carro_2022

if valor_medio_carro_2023 < menor:
  menor = valor_medio_carro_2023

print(f'O maior preço foi R$ {maior:.2f}, enquanto o menor foi R$ {menor:.2f}.')

> Digite o valor médio de um Fusca em 2021: 21000
> Digite o valor médio de um Fusca em 2022: 23000
> Digite o valor médio de um Fusca em 2023: 26000
O maior preço foi R$ 26000.00, enquanto o menor foi R$ 21000.00.

#### Questão 5
Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [ ]:
produto_1 = float(input('> Preço do produto 1: '))
produto_2 = float(input('> Preço do produto 2: '))
produto_3 = float(input('> Preço do produto 3: '))

menor_preco = produto_1
produto_menor_preco = 'produto 1'

if produto_2 < menor_preco:
  menor_preco = produto_2
  produto_menor_preco = 'produto 2'

if produto_3 < menor_preco:
  menor_preco = produto_3
  produto_menor_preco = 'produto 3'

print(f'O {produto_menor_preco} é o mais barato para comprar, com o preço de R$ {menor_preco:.2f}.')

> Preço do produto 1: 12.90
> Preço do produto 2: 5.50
> Preço do produto 3: 23.12
O produto 2 é o mais barato para comprar, com o preço de R$ 5.50.

#### Questão 6
Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
numero_1 = int(input('> Digite um número: '))
numero_2 = int(input('> Digite outro número: '))
numero_3 = int(input('> Digite mais um número: '))

if (numero_1 >= numero_2) and (numero_1 >= numero_3):
  print(numero_1)
  if (numero_2 >= numero_3):
    print(numero_2)
    print(numero_3)
  else:
    print(numero_3)
    print(numero_2)
elif (numero_2 >= numero_1) and (numero_2 >= numero_3):
  print(numero_2)
  if (numero_1 >= numero_3):
    print(numero_1)
    print(numero_3)
  else:
    print(numero_3)
    print(numero_1)
else:
  print(numero_3)
  if (numero_1 >= numero_2):
    print(numero_1)
    print(numero_2)
  else:
    print(numero_2)
    print(numero_1)

> Digite um número: 5
> Digite outro número: 2
> Digite mais um número: 10
10
5
2

#### Questão 7
Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [ ]:
turno = int(input('''
Em qual turno você está?
[0]: manhã
[1]: tarde
[2]: noite

> '''))

if turno == 0:
  print('Bom dia!')
elif turno == 1:
  print('Boa tarde!')
elif turno == 2:
  print('Boa noite!')
else:
  print('Valor inválido. :(')

Em qual turno você está?
[0]: manhã
[1]: tarde
[2]: noite

> 1
Boa tarde!

#### Questão 8
Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo `%`.

In [ ]:
numero = int(input('> Digite um número: '))

if numero % 2 == 0:
  print(f'O número {numero} é par.')
else:
  print(f'O número {numero} é ímpar.')

> Digite um número: 5
O número 5 é ímpar.

#### Questão 9
Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [ ]:
numero = float(input('> Digite um número: '))

if numero % 1 == 0:
  print(f'O número {numero} é inteiro.')
else:
  print(f'O número {numero} é decimal.')

> Digite um número: 3.14
O número 3.14 é decimal.

### Momento dos projetos

#### Questão 10
Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

In [ ]:
n1 = int(input('> Digite um número: '))
n2 = int(input('> Digite outro número: '))

operacao = int(input(f'''
Qual operação você deseja fazer entre os números {n1} e {n2}?
[0]: soma
[1]: subtração
[2]: multiplicação
[3]: divisão

> '''))

if operacao == 0:
  resultado = n1 + n2
elif operacao == 1:
  resultado = n1 - n2
elif operacao == 2:
  resultado = n1 * n2
elif operacao == 3:
  if n2 != 0:
    resultado = n1 / n2
else:
  resultado = None

if resultado == None:
  print('Operação inválida.')
else:
  print(f'-> {resultado}')
  if resultado % 1 == 0:
    print('O resultado é inteiro.')
  else:
    print('O resultado é decimal.')

  if resultado % 2 == 0:
    print('O resultado é par.')
  else:
    print('O resultado é ímpar.')

  if resultado < 0:
    print('O resultado é negativo')
  elif resultado > 0:
    print('O resultado é positivo.')
  else:
    print('O resultado é neutro.')

> Digite um número: 8
> Digite outro número: 2

Qual operação você deseja fazer entre os números 8 e 2?
[0]: soma
[1]: subtração
[2]: multiplicação
[3]: divisão

> 2
-> 16
O resultado é inteiro.
O resultado é par.
O resultado é positivo.

#### Questão 11
Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:
- Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
- Triângulo Equilátero: três lados iguais;
- Triângulo Isósceles: quaisquer dois lados iguais;
- Triângulo Escaleno: três lados diferentes;

In [ ]:
print('Lados de um triângulo')
n1 = float(input('> Digite o comprimento do primeiro lado: '))
n2 = float(input('> Digite o comprimento do segundo lado: '))
n3 = float(input('> Digite o comprimento do terceiro lado: '))

if ((n1 + n2) > n3) and ((n1 + n3) > n2) and ((n2 + n3) > n1):

  if (n1 == n2) and (n1 == n3) and (n2 == n3):
    print('O triângulo é equilátero.')
  elif (n1 == n2) or (n1 == n3) or (n2 == n3):
    print('O triângulo é isósceles.')
  else:
    print('O triângulo é escaleno.')
else:
  print('Não é possível formar um triângulo com estes comprimentos.')

Lados de um triângulo
> Digite o comprimento do primeiro lado: 4
> Digite o comprimento do segundo lado: 4
> Digite o comprimento do terceiro lado: 6
O triângulo é isósceles.

#### Questão 12
Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R\$ 2,00 e o preço do litro de etanol é R\$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

- O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
- O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

In [ ]:
qtd_litros = float(input('> Quantos litros deseja adicionar? '))
combustivel = input('''
  Escolha um combustível:
  [E] Etanol
  [D] Diesel
  > ''').upper()

litro_diesel = 2.00
litro_etanol = 1.70

if combustivel == 'E':

  if qtd_litros <= 15:
    total = (litro_etanol * qtd_litros) * 0.98
  else:
    total = (litro_etanol * qtd_litros) * 0.96
elif combustivel == 'D':
  if qtd_litros <= 15:
    total = (litro_diesel * qtd_litros) * 0.97
  else:
    total = (litro_diesel * qtd_litros) * 0.95

if combustivel not in ('E', 'D'):
  print('Valor não permitido.')
else:
  print(f'O valor a ser pago é: R$ {total:.2f}')

> Quantos litros deseja adicionar? 100

  Escolha um combustível:
  [E] Etanol
  [D] Diesel
  > E
O valor a ser pago é: R$ 163.20

#### Questão 13
Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:
- Para variação acima de 20%: bonificação para o time de vendas.
- Para variação entre 2% e 20%: pequena bonificação para time de vendas.
- Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
- Para bonificações abaixo de -10%: corte de gastos.

In [ ]:
vendas_2022 = int(input('> Quantidade de vendas em 2022: '))
vendas_2023 = int(input('> Quantidade de vendas em 2023: '))

variacao_percentual = 100 * ((vendas_2023 - vendas_2022) / vendas_2022)

if variacao_percentual > 20:
  sugestao = 'Bonificação para o time de vendas'
elif 2 <= variacao_percentual <= 20:
  sugestao = 'Pequena bonificação para time de vendas'
elif -10 <= variacao_percentual < 2:
  sugestao = 'Planejamento de políticas de incentivo às vendas'
elif variacao_percentual < -10:
  sugestao = 'Corte de gastos'

print(f'''
Vendas em 2022: {vendas_2022}
Vendas em 2023: {vendas_2023}
Variação das vendas: {variacao_percentual} %
----
Status: {sugestao}
''')

> Quantidade de vendas em 2022: 1290
> Quantidade de vendas em 2023: 1459

Vendas em 2022: 1290
Vendas em 2023: 1459
Variação das vendas: 13.10077519379845 %
----
Status: Pequena bonificação para time de vendas

## Aula 4 - Estruturas de repetição

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [ ]:
num_1 = int(input('> Digite um número inteiro: '))
num_2 = int(input('> Digite outro número inteiro: '))

for num in range(num_1, num_2 + 1):
  print(num)

> Digite um número inteiro: 1
> Digite outro número inteiro: 10
1
2
3
4
5
6
7
8
9
10

#### Questão 2
Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a colônia B com 10 elementos.

In [ ]:
colonia_A = 4
colonia_B = 10
tempo = 0

while colonia_A <= colonia_B:
  tempo += 1
  colonia_A *= 1.03
  colonia_B *= 1.015

print(f'O tempo para a colônia de bactérias A ultrapassar ou igual a colônia de bactérias B é igual a {tempo} dias.')

O tempo para a colônia de bactérias A ultrapassar ou igual a colônia de bactérias B é igual a 63 dias.

#### Questão 3
Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
qtd_dados = 0

while qtd_dados < 15:
  nota = int(input('> Digite uma nota de 0 a 5: '))

  if 0 <= nota <= 5:
    qtd_dados += 1
  else:
    print('Valor inválido. Tente novamente.\n')

> Digite uma nota de 0 a 5: 3
> Digite uma nota de 0 a 5: 2
> Digite uma nota de 0 a 5: 9
Valor inválido. Tente novamente.

> Digite uma nota de 0 a 5: 2
> Digite uma nota de 0 a 5: 3
> Digite uma nota de 0 a 5: 4
> Digite uma nota de 0 a 5: 5
> Digite uma nota de 0 a 5: 1
> Digite uma nota de 0 a 5: 2
> Digite uma nota de 0 a 5: 3
> Digite uma nota de 0 a 5: 4
> Digite uma nota de 0 a 5: 5
> Digite uma nota de 0 a 5: 1
> Digite uma nota de 0 a 5: 2
> Digite uma nota de 0 a 5: 3
> Digite uma nota de 0 a 5: 4

#### Questão 4
Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e faça uma análise. Portanto, escreva um programa que leia temperaturas e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [ ]:
temperatura = 0
soma_temperaturas = 0
qtd_temperaturas = 0

while temperatura != -273:
  temperatura = float(input('> Digite uma temperatura em Celsius: '))
  soma_temperaturas += temperatura
  qtd_temperaturas += 1

media_temperaturas = soma_temperaturas / qtd_temperaturas

print(f'A média das temperaturas é : {media_temperaturas}°C.')

> Digite uma temperatura em Celsius: 25
> Digite uma temperatura em Celsius: 30
> Digite uma temperatura em Celsius: 100
> Digite uma temperatura em Celsius: -273
A média das temperaturas é : -29.5°C.

#### Questão 5
Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. O fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
numero = int(input('> Digite um número: '))
fatorial = 1

print(f'{numero}! = ', end='')
while numero >= 1:
  print(f'{numero} x ', end='')

  fatorial *= numero
  numero -= 1

print(f'= {fatorial}')

> Digite um número: 5
5! = 5 x 4 x 3 x 2 x 1 x = 120

### Momento dos projetos

#### Questão 6
Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20
```

In [ ]:
tabuada = int(input('> Digite um número inteiro de 1 a 10: '))

for numero in range(1, 11):
  print(f'{tabuada} x {numero} = {tabuada * numero}')

> Digite um número inteiro de 1 a 10: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#### Questão 7
Os números primos possuem várias aplicações dentro da Ciência de Dados, por exemplo, na criptografia e segurança. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

In [ ]:
numero = int(input('> Digite um número: '))
qtd_divisores = 0

for i in range(1, numero + 1):
  if numero % i == 0:
    qtd_divisores += 1

if qtd_divisores > 2 or numero <= 1:
  print(f'{numero} não é primo.')
else:
  print(f'{numero} é primo.')

> Digite um número: 31
31 é primo.

#### Questão 8
Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

In [ ]:
idade = 0
qtd_0_25 = 0
qtd_26_50 = 0
qtd_51_75 = 0
qtd_76_100 = 0

while idade >= 0:
  idade = int(input('> Digite uma idade (números negativos param o programa): '))

  if 0 <= idade <= 25:
    qtd_0_25 += 1
  elif 26 <= idade <= 50:
    qtd_26_50 += 1
  elif 51 <= idade <= 75:
    qtd_51_75 += 1
  elif 76 <= idade <= 100:
    qtd_76_100 += 1

print(f'''
[0-25] -> {qtd_0_25}
[26-50] -> {qtd_26_50}
[51-75] -> {qtd_51_75}
[76-100] -> {qtd_76_100}
''')

> Digite uma idade (números negativos param o programa): 10
> Digite uma idade (números negativos param o programa): 89
> Digite uma idade (números negativos param o programa): 34
> Digite uma idade (números negativos param o programa): 56
> Digite uma idade (números negativos param o programa): 23
> Digite uma idade (números negativos param o programa): 11
> Digite uma idade (números negativos param o programa): 87
> Digite uma idade (números negativos param o programa): 25
> Digite uma idade (números negativos param o programa): 18
> Digite uma idade (números negativos param o programa): 9
> Digite uma idade (números negativos param o programa): -1

[0-25] -> 6
[26-50] -> 1
[51-75] -> 1
[76-100] -> 2

#### Questão 9
Em uma eleição para gerência em uma empresa com 20 funcionários, existem quatro candidatos. Escreva um programa que calcule o vencedor da eleição. A votação ocorreu da seguinte maneira:
- Cada funcionário votou em um dos quatro candidatos (representados pelos números 1, 2, 3 e 4).
- Também foram contabilizados os votos nulos (representado pelo número 5) e os votos em branco (representado pelo número 6).

Ao final da votação, o programa deve exibir o total de votos para cada candidato, o número de votos nulos e o número de votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

In [ ]:
i = 0
total_votos = 20

votos_1 = 0
votos_2 = 0
votos_3 = 0
votos_4 = 0
votos_5 = 0
votos_6 = 0

while i < total_votos:

  voto = int(input('''
  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > '''))

  if voto < 1 or voto > 6:
    print('Valor inválido. Tente novamente.\n')
  else:
    i += 1

    if voto == 1:
      votos_1 += 1
    elif voto == 2:
      votos_2 += 1
    elif voto == 3:
      votos_3 += 1
    elif voto == 4:
      votos_4 += 1
    elif voto == 5:
      votos_5 += 1
    elif voto == 6:
      votos_6 += 1

percentual_nulos = ((total_votos - votos_5) / total_votos) * 100
percentual_brancos = ((total_votos - votos_6) / total_votos) * 100

print(f'''
Total de votos {total_votos}
---
Ana: {votos_1}
Bernardo: {votos_2}
Carlos: {votos_3}
Daniela: {votos_4}
Nulos: {votos_5}
Brancos: {votos_6}
---
Percentual de nulos: {percentual_nulos}
Percentual de brancos: {percentual_brancos}
''')

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 2

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 2

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 1

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 9
Valor inválido. Tente novamente.


  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 3

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 4

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 5

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 6

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 1

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 2

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 3

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 4

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 5

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 6

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 6

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 5

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 1

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 6

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 2

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 3

  Selecione um dos números abaixo para votar:
  [1] Ana
  [2] Bernardo
  [3] Carlos
  [4] Daniela
  [5] Nulo
  [6] Branco
  > 4

Total de votos 20
---
Ana: 3
Bernardo: 4
Carlos: 3
Daniela: 3
Nulos: 3
Brancos: 4
---
Percentual de nulos: 85.0
Percentual de brancos: 80.0

## Aula 5 - Estruturas de dados

### Aquecendo na programação

#### Questão 1
Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel `[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]`. Com esses valores, faça um programa que calcule a média de gastos. Dica, use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [ ]:
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
soma = sum(lista)
tamanho = len(lista)
media = soma / tamanho
media

3144.222

#### Questão 2
 Com os mesmos dados da questão anterior, defina quantas compras foram acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [ ]:
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
tamanho = len(lista)
acima_3000 = 0

for item in lista:
  if item > 3000:
    acima_3000 += 1

percentual = ((acima_3000) / tamanho ) * 100
percentual

70.0

#### Questão 3
Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: `[1,4,7,2,4]`.

In [ ]:
lista = []

for i in range(1, 6):
  item = int(input('> Digite um número inteiro: '))
  lista.append(item)

lista

> Digite um número inteiro: 1
> Digite um número inteiro: 2
> Digite um número inteiro: 4
> Digite um número inteiro: 7
> Digite um número inteiro: 2

[1, 2, 4, 7, 2]

#### Questão 4
Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [ ]:
lista = []

for i in range(1, 6):
  item = int(input('> Digite um número inteiro: '))
  lista.insert(-i, item)

lista

> Digite um número inteiro: 1
> Digite um número inteiro: 2
> Digite um número inteiro: 3
> Digite um número inteiro: 4
> Digite um número inteiro: 5

[5, 4, 3, 2, 1]

#### Questão 5
Faça um programa que, ao inserir um número qualquer, criará uma lista contendo todos os números primos entre 1 e o número digitado.

In [ ]:
numero = int(input('> Digite um número: '))
lista = []

for i in range(1, numero + 1):

  qtd_divisores = 0

  for j in range(1, i + 1):
    if i % j == 0:
      qtd_divisores += 1

  if qtd_divisores > 2 or i <= 1:
    pass
  else:
    lista.append(i)

lista

> Digite um número: 20

[2, 3, 5, 7, 11, 13, 17, 19]

#### Questão 6
Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é uma data válida para uma análise.

In [ ]:
dia = int(input('> Digite um dia: '))
mes = int(input('> Digite um mes: '))
ano = int(input('> Digite um ano: '))

if mes == 2:
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28

  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida.')
  else:
    print('Data inválida.')

elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida.')
  else:
    print('Data inválida.')
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida.')
  else:
    print('Data inválida.')
else:
  print('Data inválida.')

> Digite um dia: 3
> Digite um mes: 6
> Digite um ano: 2005
Data válida.

### Momento dos projetos

#### Questão 7
Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias multiplicadas por dia, com base em um processo de duplicação diária e pode ser observado a seguir: `[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]`. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: `100 * (amostra_atual - amostra_passada) / (amostra_passada)`.

In [ ]:
bacterias_por_dia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
percentuais_crescimento = []

for i in range(1, len(bacterias_por_dia)):
  percentual = 100 * (bacterias_por_dia[i] - bacterias_por_dia[i - 1] ) / (bacterias_por_dia[i - 1] )
  percentuais_crescimento.append(percentual)

percentuais_crescimento

[75.00000000000001,
 57.142857142857125,
 51.51515151515153,
 56.0,
 44.87179487179489,
 46.90265486725664,
 51.20481927710843,
 50.59760956175297,
 50.52910052910054]

#### Questão 8
Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros, sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:
produtos = {
    'amargos': [],
    'doces': []
}

for i in range(1, 11):

  id_produto = int(input('> Digite o ID de um número: '))
  if id_produto % 2 == 0:
    produtos['doces'].append(id_produto)
  else:
    produtos['amargos'].append(id_produto)

print(f'''
Doces ({len(produtos['doces'])}): {produtos['doces']}
Amargos ({len(produtos['amargos'])}): {produtos['amargos']}
''')

> Digite o ID de um número: 2
> Digite o ID de um número: 4
> Digite o ID de um número: 10
> Digite o ID de um número: 33
> Digite o ID de um número: 11
> Digite o ID de um número: 24
> Digite o ID de um número: 28
> Digite o ID de um número: 34
> Digite o ID de um número: 190
> Digite o ID de um número: 81

Doces (7): [2, 4, 10, 24, 28, 34, 190]
Amargos (3): [33, 11, 81]

#### Questão 9
Desenvolva um programa que informa a nota de um aluno de acordo com suas respostas. Ele deve pedir a resposta de um aluno para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem alternativas:  A, B, C ou D.
```
Gabarito da Prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
```

In [ ]:
prova = {
    1: ['D'],
    2: ['A'],
    3: ['C'],
    4: ['B'],
    5: ['A'],
    6: ['D'],
    7: ['C'],
    8: ['C'],
    9: ['A'],
    10: ['B']
}

acertos = 0

for i in range(1, 11):

  resposta = input(f'> Digite a resposta correta (A, B, C ou D) para a {i}ª questão: ').upper()
  prova[i].append(resposta)

  if prova[i][0] == resposta:
    prova[i].append('Acertou')
    acertos += 1
  else:
    prova[i].append('Errou')

print(f'Nº - Gabarito - Resposta - Status')

for q in prova:
  print(f'{q} - {prova[q][0]} - {prova[q][1]} - {prova[q][2]}')

print(f'Total de acertos: {acertos}')

> Digite a resposta correta (A, B, C ou D) para a 1ª questão: D
> Digite a resposta correta (A, B, C ou D) para a 2ª questão: A
> Digite a resposta correta (A, B, C ou D) para a 3ª questão: C
> Digite a resposta correta (A, B, C ou D) para a 4ª questão: B
> Digite a resposta correta (A, B, C ou D) para a 5ª questão: C
> Digite a resposta correta (A, B, C ou D) para a 6ª questão: D
> Digite a resposta correta (A, B, C ou D) para a 7ª questão: C
> Digite a resposta correta (A, B, C ou D) para a 8ª questão: C
> Digite a resposta correta (A, B, C ou D) para a 9ª questão: A
> Digite a resposta correta (A, B, C ou D) para a 10ª questão: D
Nº - Gabarito - Resposta - Status
1 - D - D - Acertou
2 - A - A - Acertou
3 - C - C - Acertou
4 - B - B - Acertou
5 - A - C - Errou
6 - D - D - Acertou
7 - C - C - Acertou
8 - C - C - Acertou
9 - A - A - Acertou
10 - B - D - Errou
Total de acertos: 8

#### Questão 10
Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual, e em que mês elas ocorreram, mostrando os meses por extenso: Janeiro, Fevereiro, etc.

In [ ]:
temperaturas = []
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril',
         'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
         'Outubro', 'Novembro', 'Dezembro']

for mes in meses:
  temperatura = float(input(f'> Digite a temperatura média de {mes}: '))
  temperaturas.append(temperatura)

media_anual = sum(temperaturas) / len(temperaturas)

print(f'Média anual: {media_anual}')

for i in range(0, len(meses)):
  if temperaturas[i] > media_anual:
    print(f'No mês de {meses[i]} a temperatura estava acima da média anual com, {temperaturas[i]}°C.')

> Digite a temperatura média de Janeiro: 26
> Digite a temperatura média de Fevereiro: 28
> Digite a temperatura média de Março: 23
> Digite a temperatura média de Abril: 18
> Digite a temperatura média de Maio: 15
> Digite a temperatura média de Junho: 10
> Digite a temperatura média de Julho: 6
> Digite a temperatura média de Agosto: 17
> Digite a temperatura média de Setembro: 19
> Digite a temperatura média de Outubro: 22
> Digite a temperatura média de Novembro: 25
> Digite a temperatura média de Dezembro: 29
Média anual: 19.833333333333332
No mês de Janeiro a temperatura estava acima da média anual com, 26.0°C.
No mês de Fevereiro a temperatura estava acima da média anual com, 28.0°C.
No mês de Março a temperatura estava acima da média anual com, 23.0°C.
No mês de Outubro a temperatura estava acima da média anual com, 22.0°C.
No mês de Novembro a temperatura estava acima da média anual com, 25.0°C.
No mês de Dezembro a temperatura estava acima da média anual com, 29.0°C.

#### Questão 11
Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:
```
{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
```
Escreva um código que calcule o total de vendas e o produto mais vendido.

In [5]:
vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
          'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

total_vendas = 0
produto_mais_vendido = ['', 0]

for produto, quantidade in vendas.items():

  total_vendas += quantidade

  if quantidade >= produto_mais_vendido[1]:
    produto_mais_vendido[0] = produto
    produto_mais_vendido[1] = quantidade

print(f'''---------
Total de vendas: {total_vendas}
---------
Produto mais vendido:
  > Nome: {produto_mais_vendido[0]}
  > Quantidade: {produto_mais_vendido[1]}
''')

---------
Total de vendas: 920
---------
Produto mais vendido:
  > Nome: Produto A
  > Quantidade: 300

#### Questão 12
Uma pesquisa de mercado foi feita para decidir qual design de uma marca infantil mais agrada crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:
```
'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''
```
Adapte os dados fornecidos a você para uma estrutura de dicionário e a partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [7]:
votos_designs = {
    'design_1': 1334,
    'design_2': 982,
    'design_3': 1751,
    'design_4': 210,
    'design_5': 1811
}

vencedor = ['', 0, 0.0]
total_votos = 0

for design, votos in votos_designs.items():

  total_votos += votos

  if votos >= vencedor[1]:
    vencedor[0] = design
    vencedor[1] = votos

vencedor[2] = (vencedor[1]/total_votos) * 100

print(f'''Vencedor: {vencedor[0]}
Porcentagem de votos: {vencedor[2]:.2f}%
''')

Vencedor: design_5
Porcentagem de votos: 29.75%

#### Questão 13
Os funcionários de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do seu salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: `[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]`. O abono de cada funcionário não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos funcionários receberam o abono mínimo e qual o maior valor de abono fornecido.

In [13]:
funcionarios = {1172: 0.0,
                1644: 0.0,
                2617: 0.0,
                5130: 0.0,
                5532: 0.0,
                6341: 0.0,
                6650: 0.0,
                7238: 0.0,
                7685: 0.0,
                7782: 0.0,
                7903: 0.0}

total_gastos_abono = 0
funcionarios_abono_minimo = 0
maior_abono = 0

for salario, abono in funcionarios.items():

  funcionarios.update({salario: salario * 0.1})

  if funcionarios[salario] <= 200:
    funcionarios[salario] = 200
    funcionarios_abono_minimo += 1

  if funcionarios[salario] >= maior_abono:
    maior_abono = funcionarios[salario]

  total_gastos_abono += funcionarios[salario]

print(f'''Total de gastos com abono: {total_gastos_abono}
Funcionários que receberão abono mínimo (R$ 200,00): {funcionarios_abono_minimo}
Maior abono fornecido: {maior_abono:.2f}''')

Total de gastos com abono: 6087.8
Funcionários que receberão abono mínimo (R$ 200,00): 2
Maior abono fornecido: 790.30

#### Questão 14
Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área da floresta e armazenaram essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.
```
{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
```
Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [17]:
seres_vivos = { 'Área Norte': [2819, 7236],
                'Área Leste': [1440, 9492],
                'Área Sul': [5969, 7496],
                'Área Oeste': [14446, 49688],
                'Área Centro': [22558, 45148]}

area_mais_biodiversa = ['', 0]
total_especies_geral = 0
areas = len(seres_vivos)

for area, lista_especies in seres_vivos.items():

  if sum(lista_especies) > area_mais_biodiversa[1]:
    area_mais_biodiversa[0] = area
    area_mais_biodiversa[1] = sum(lista_especies)

  total_especies_geral += sum(lista_especies)

media_especies_por_area = total_especies_geral / len(seres_vivos)

print(f'''A "{area_mais_biodiversa[0]}" é a área com maior diversidade biológica, contendo {area_mais_biodiversa[1]} espécies.
A média de espécies, por área, é igual a {media_especies_por_area:.2f}.''')

A "Área Centro" é a área com maior diversidade biológica, contendo 67706 espécies.
A média de espécies, por área, é igual a 33258.40.

#### Questão 15
O setor de RH da sua empresa te pediu uma ajuda para analisar as idades dos funcionários de 4 setores da empresa. Para isso, ele te forneceu os seguintes dados:
```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
```
Sabendo que cada setor tem 10 funcionários, construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [20]:
funcionarios = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idade_geral = 0
media_idade_por_setor = []
pessoas_acima_da_media = 0
total_funcionarios = 0

for setor, lista_idades in funcionarios.items():
  media_idade = sum(lista_idades) / len(lista_idades)
  media_idade_por_setor.append(media_idade)
  total_idade_geral += sum(lista_idades)
  total_funcionarios += len(lista_idades)

media_idade_geral = total_idade_geral / total_funcionarios

for lista_idades in funcionarios.values():
  for idade in lista_idades:
    if idade > media_idade_geral:
      pessoas_acima_da_media += 1

print(f'''Média de idade por setor: {media_idade_por_setor}
Média geral das idades: {media_idade_geral}
Quantidade de pessoas com idade acima da média: {pessoas_acima_da_media}
''')

Média de idade por setor: [39.9, 42.3, 35.8, 36.5]
Média geral das idades: 38.625
Quantidade de pessoas com idade acima da média: 18